<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ClientConfigurationSection" type="Microsoft.Cosmos.Client.ClientConfigurationSection, Microsoft.Cosmos.Client"/>
  </configSections>
  <ClientConfigurationSection>
    <MaxConcurrentRequests Value="10" />
    <DefaultEndpointHost Value="http://cosmos.osdinfra.net:80"/>
  </ClientConfigurationSection>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding16MBStreamed" transferMode="StreamedResponse" maxBufferSize="16777216" maxReceivedMessageSize="1073741824" sendTimeout="0:10:0.0">
          <readerQuotas maxArrayLength="16777216" maxStringContentLength="104857600" maxBytesPerRead="1048576" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
          <!-- iSCOPEHost service(on ISFE) only needs few seconds to send keep alive message to iSCOPE service-->
          <?ap-config target="@sendTimeout" value="00:00:10" when="@mf='ISFE'" ?>
        </binding>
        <binding name="basicHttpsBinding16MBStreamed" transferMode="StreamedResponse" maxBufferSize="16777216" maxReceivedMessageSize="1073741824"  sendTimeout="0:10:0.0">
          <readerQuotas maxArrayLength="16777216" maxStringContentLength="104857600" maxBytesPerRead="1048576" />
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
          <!-- iSCOPEHost service(on ISFE) only needs few seconds to send keep alive message to iSCOPE service-->
          <?ap-config target="@sendTimeout" value="00:00:10" when="@mf='ISFE'" ?>
        </binding>
        <binding name="basicHttpBinding16MBStreamedMTOM" transferMode="StreamedResponse" maxBufferSize="16777216" maxReceivedMessageSize="1073741824" messageEncoding="Mtom"  sendTimeout="0:10:0.0">
          <readerQuotas maxArrayLength="16777216"  maxStringContentLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
          <!-- iSCOPEHost service(on ISFE) only needs few seconds to send keep alive message to iSCOPE service-->
          <?ap-config target="@sendTimeout" value="00:00:10" when="@mf='ISFE'" ?>
        </binding>
        <binding name="basicHttpsBinding16MBStreamedMTOM" transferMode="StreamedResponse" maxBufferSize="16777216" maxReceivedMessageSize="1073741824" messageEncoding="Mtom"  sendTimeout="0:10:0.0">
          <readerQuotas maxArrayLength="16777216"  maxStringContentLength="104857600" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
          <!-- iSCOPEHost service(on ISFE) only needs few seconds to send keep alive message to iSCOPE service-->
          <?ap-config target="@sendTimeout" value="00:00:10" when="@mf='ISFE'" ?>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cosmos.osdinfra.net/Computation/" behaviorConfiguration="ComputationBehavior"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding16MBStreamedMTOM"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IComputationService"
        name="Microsoft.Cosmos.Client.ComputationClient">
        <identity>
          <servicePrincipalName value="http/cosmos.osdinfra.net" />
        </identity>
      </endpoint>
      <endpoint address="http://cosmos.osdinfra.net/Execution/" behaviorConfiguration="ExecutionBehavior"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding16MBStreamed"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IExecutionService"
        name="Microsoft.Cosmos.FrontEnd.WebService.Client.ExecutionClient">
        <identity>
          <servicePrincipalName value="http/cosmos.osdinfra.net" />
        </identity>        
      </endpoint>
      <endpoint address="http://cosmos.osdinfra.net/Store/" behaviorConfiguration="StoreBehavior"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding16MBStreamed"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IStoreService"
        name="Microsoft.Cosmos.FrontEnd.WebService.Client.StoreClient">
        <identity>
          <servicePrincipalName value="http/cosmos.osdinfra.net" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="StoreBehavior">
          <maxFaultSizeBehavior maxFaultSize="1048576"/>
        </behavior>
        <behavior name="ExecutionBehavior">
          <maxFaultSizeBehavior maxFaultSize="1048576"/>
        </behavior>
        <behavior name="ComputationBehavior">
          <maxFaultSizeBehavior maxFaultSize="16777216"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add
          name="maxFaultSizeBehavior"
          type="Microsoft.Cosmos.Client.MaxFaultSizeBehavior, Microsoft.Cosmos.Client"           
        />        
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>
</configuration>
