<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ClientConfigurationSection" type="Microsoft.Cosmos.Client.ClientConfigurationSection, Microsoft.Cosmos.Client"/>
  </configSections>
  <ClientConfigurationSection>
    <MaxConcurrentRequests Value="10" />
    <DefaultEndpointHost Value="http://cosmos.osdinfra.net:80"/>
  </ClientConfigurationSection>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customHTTPBinding"  sendTimeout="0:10:0.0">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxArrayLength="16777216" maxStringContentLength="104857600" maxBytesPerRead="1048576"/>
          </textMessageEncoding>
          <!--Note. If you encounter high failure rate when you try do export big partitions with exception message says like, 
            "System.IO.IOException: An exception has been thrown when reading the stream."
            Please try following practice, most prefered recommendation goes first.
            1. Run command "netsh int tcp set global autotuninglevel=disabled" to disable TCP-AUTO-TUNING feature, if possible.
            2. Try to add retry logic to download each partition seperately and dump the content to 
               your local disk quickly before feeding to other service in your data flow, e.g. SQL Server.
            3. Try to disable http channel compression, by chagne decompressionEnabled="false" in following section.
          -->
          <httpTransport maxReceivedMessageSize="1099511627776" maxBufferSize="16777216" keepAliveEnabled="true" transferMode="StreamedResponse" authenticationScheme="Ntlm" decompressionEnabled="true"/>
        </binding>
        <binding name="customHTTPSBinding"  sendTimeout="0:10:0.0">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxArrayLength="16777216" maxStringContentLength="104857600" maxBytesPerRead="1048576"/>
          </textMessageEncoding>
          <!--Note. If you encounter high failure rate when you try do export big partitions with exception message says like, 
            "System.IO.IOException: An exception has been thrown when reading the stream."
            Please try following practice, most prefered recommandation goes first.
            1. Run command "netsh int tcp set global autotuninglevel=disabled" to disable TCP-AUTO-TUNING feature, if possible.
            2. Try to add retry logic to download each partition seperately and dump the content to 
               you local disk quickly before feed to other service in your data flow, e.g. SQL Server.
            3. Try to disable http channel compression, by chagne decompressionEnabled="false" in following section.
          -->
          <httpsTransport maxReceivedMessageSize="1099511627776" maxBufferSize="16777216" keepAliveEnabled="true" transferMode="StreamedResponse" authenticationScheme="Ntlm" decompressionEnabled="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://cosmos.osdinfra.net:80/StructuredStream/" behaviorConfiguration="StructuredStreamServiceBehavior"
        binding="customBinding" bindingConfiguration="customHTTPBinding"
        contract="Microsoft.Cosmos.FrontEnd.Contract.IStructuredStreamService"
        name="Microsoft.Cosmos.FrontEnd.Test.WebClient.StructuredStreamServiceClient">
        <identity>
          <servicePrincipalName value="http/cosmos.osdinfra.net" />
        </identity>
      </endpoint>
      <endpoint address="https://cosmos.osdinfra.net/StructuredStream/" behaviorConfiguration="StructuredStreamServiceBehavior"
    binding="customBinding" bindingConfiguration="customHTTPSBinding"
    contract="Microsoft.Cosmos.FrontEnd.Contract.IStructuredStreamService"
    name="Microsoft.Cosmos.FrontEnd.Test.WebClient.StructuredStreamServiceClient.Https">
        <identity>
          <servicePrincipalName value="https/cosmos.osdinfra.net" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="StructuredStreamServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="16777216" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
